- name: Install Docker dependencies
  apt:
    name:
      - ca-certificates
      - curl
    update_cache: yes

# - name: Add Docker GPG key
#   shell: |
#     install -m 0755 -d /etc/apt/keyrings
#     curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
#   args:
#     creates: /etc/apt/keyrings/docker.gpg

# - name: Add Docker repo
#   apt_repository:
#     repo: >
#       deb [arch={{ ansible_architecture }}
#       signed-by=/etc/apt/keyrings/docker.gpg]
#       https://download.docker.com/linux/ubuntu
#       {{ ansible_distribution_release }} stable

- name: Install Docker
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: latest

- name: Configure Docker daemon
  copy:
    src: daemon.json
    dest: /etc/docker/daemon.json
#   notify: Restart Docker

# handlers:
#   - name: Restart Docker
#     service:
#       name: docker
#       state: restarted
